.sticky {
  background-color: $lightgreen !important;
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.4);
}
.fix-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100000;
  transition: 0.6s;
  @include potrait {
    width: 384px !important;
  }
  @include media('<=desktop') {
    width: 844px;
  }
}
.bg-transparent {
  @include media('<=desktop') {
    padding: 16px 7px !important;
  }
  .active {
    color: $green !important;
  }

  .navbar-nav {
    @include potrait {
      flex-direction: column !important;
      align-items: flex-start !important;
    }
    @include media('<=desktop') {
      left: 30px;
      padding: 10px 0px;
      flex-direction: row;
      background-color: $lightgreen;
      margin-top: 14px;
    }
    @include media('>=desktop') {
      background-color: transparent;
    }
  }
  .add-btn-hide {
    @include media('<=desktop') {
      display: none !important;
    }
  }

  .add-btn-mobile {
    @include media('>=desktop') {
      display: none;
    }
  }
  padding: 16px 0px;
  z-index: 999;
  .nav-link {
    text-transform: capitalize;
    margin: 0px 30px;
    font-size: 14px;
    color: #707070;
    font-weight: normal;
    &:hover {
      color: $green !important;
    }
  }
  .navbar-nav {
    .nav-link {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .btn {
    padding: 14px 30px;
    border-radius: 15px;
    @include potrait {
      margin-right: 11px;
    }
    @include media('<=desktop') {
      padding: 9px 15px !important;
    }

    a {
      color: #fff;
      font-size: 14px;
      @include potrait {
        font-size: 14px !important;
      }
    }
    i {
      font-size: 20px;
      @include potrait {
        font-size: 18px !important;
        margin-right: 2px !important;
      }
    }
  }

  span {
    p {
      a {
        font-size: 19px;
        color: $text-color !important;
      }
    }
  }
}
@include media('<=tablet') {
  .px-5 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
}
